<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BookS</title>
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body>
        <div class="header">
            <div class="header_brand">
                <h1 class="header_brand">Books</h1>
            </div>
            <div class=header_users>
                <div class="header_user">
                    <h1 class="header_user">Jimin Yeon</h1>
                </div>
                <a class="header_logout-button" href="/auth/logout">Log Out</a>
            </div>
        </div>
        <div class="body">
            <div class="book">
                <div class="book_title">NodeJS 교과서</div>
                <div class="book_info-box">
                    <div class="book_author-box">
                        <span class="book_author-q">지은이</span>
                        <span class="book_author">이성욱</span>
                    </div>
                    <div class="book_publisher-box">
                        <span class="book_publisher-q">출판사</span>
                        <span class="book_publisher">위키북스</span>
                    </div>
                </div>
            </div>     
            <div class="book">
                <div class="book_title">NodeJS 교과서</div>
                <div class="book_info-box">
                    <div class="book_author-box">
                        <span class="book_author-q">지은이</span>
                        <span class="book_author">이성욱</span>
                    </div>
                    <div class="book_publisher-box">
                        <span class="book_publisher-q">출판사</span>
                        <span class="book_publisher">위키북스</span>
                    </div>
                </div>
            </div>     
        </div>
    </body>
</html>