doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title BookSquad

  body
      .header
        span.header_brand
            h1.header_brand BookSquad
        span.header_user
            h1.header_user #{nickname}
        a.header_logout-button(href='/auth/logout') log Out