doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title BookSquad Login
    link(rel='stylesheet', href='css/styles.css')

  body
    .login-box
      h1.login-title BookSquad
      input.email(type='text', placeholder='Enter Your Email')
      input.password(type='password', placeholder='Password ')
      button.signup-button Register
      .or-border
      h3 OR
      button.google-login-button Log In With Google