@import 'default.css';
@import 'header.css';

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.book {
    border: 1px solid #495057;
    width: 70vw;
    height: 60vh;
    margin-top: 8vh;
    padding: 0 9.5vw 0 9.5vw;
    align-self: center;
}
.book>.book_registration-date {
    margin-top: 2vh;
    text-align: right;
}

.book>.book_title {
    font-size: 4vw;
    font-weight: 900;
    margin: 5vh 0 7vh 0;
}

.book>.book_description {
    height: 20vh;
}

.book>.book_author {
    margin-bottom: 1vh;
}

.book>.book_publisher {
    margin-bottom: 1vh;
}

.book>.book_publication-date {
    margin-bottom: 1vh;
}

.book>.buttons {
    float: right;
}

.book>.buttons>button {
    width:5vw;
    height:4vh;
    cursor: pointer;
    margin-left: 2vw;
}

.book>.like>i {
    color: red;
}

.book>.noLike>i {
    color: black;
}

.reviews {
    border: 1px solid #495057;
    width: 80vw;
    height: auto;
    margin-top: 8vh;
    padding: 3vh 7vw 3vh 7vw;
    align-self: center;
}

.reviews_title {
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 4vh;
    border-bottom: 1px solid black;
    padding-bottom: 2vh;
    padding-left: 2vw;
}

.review {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2vh;
    box-shadow: 0 2px rgba(0,0,0,.25);
    padding-bottom: 2vh;
    padding-left: 2vw;
}

.review>.review_writer {
    font-weight: 700;
    margin-right: 10vw;
    letter-spacing: 1vw;
}
.review>.buttons {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 3vw;
}
.review>.buttons>button {
    cursor: pointer;
    margin-left: 1vw;
}